@model DepartmentEmployees.Models.DataModel;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	ViewData["Title"] = "Department List";
}
<h4>@ViewData["Title"]</h4>
<table class="table table-responsive table-condensed table-hover table-striped" id="tblDepartment" style="width:auto">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Company
			</th>
			<th>
				Department
			</th>
			<th>
				Phone
			</th>
			<th>
				Description
			</th>
			<th>
				Status
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="dataDepartment">
		@foreach (var item in Model.departmentsModel)
		{
			<tr>
				<th scope="row">@item.id</th>
				<th scope="row" hidden>@item.id_enterprises</th>
				<td>
					@String.Format("{0}", item.enterprises.name).ToString().ToUpper()
				</td>
				<td>
					@String.Format("{0}", item.name).ToString().ToUpper()
				</td>
				<td>
					@String.Format("{0}", item.phone).ToString().ToUpper()
				</td>
				<td>
					@String.Format("{0}", item.description).ToString().ToUpper()
				</td>
				<td>
					@String.Format("{0}", item.status != true ? "INACTIVE" : "ACTIVE").ToString()
				</td>
				<td>
					<a data-value="@item.id"
						   href="javascript:void(0)" class="btnEdit">
							<i class="fa fa-edit">Edit</i>
						</a> |
					@Html.ActionLink("Delete", "Delete", new { id = item.id })
				</td>
			</tr>

		}
	</tbody>
	<tfoot>
		<tr>
			<td>
				@Html.ActionLink("Back", "Index", "Department")
			</td>
		</tr>
	</tfoot>
</table>
<div class="clearfix"></div>

<div id="dialog" title="edit view" style="overflow: hidden;"></div>
@section Scripts{
	<script type="text/javascript">


        $(function () {
            var id = 0;
			$( document ).on( 'click', '.btnEdit', function () {

				id = $( this ).attr( "data-value" );
                $('#dialog').dialog('open');
            });

			$( '#dialog' ).dialog( {
				autoOpen: false,
				width: 'auto',
				fluid: true,
				resizable: true,
				title: 'Department Edit',
				modal: true,
				position: { my: "top", at: "top", of: window  },
				open: function ( event, ui ) {
                    // Load partial view _GridEditPartial
					$( this ).load( "@Url.Action("GetById")", { id: id});
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
			} );
        });
	</script>
}